
body{
    font-family: Arial, Helvetica, sans-serif;
}
#contact-us{
    text-align: center;
    font-size: 400%;
    font-family: 'Trebuchet MS', sans-serif;
    color:rgba(255, 255, 255, 0.653);
    font-weight: bolder;
    margin-top: 7%;
}
.form-container-container{
    display: flex;
    justify-content: center;
}
.form-container{
    
    align-self: center;
    display: flex;
    width: 900px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
   
   
}
.form-left{
flex: 1;
background-color: #003264;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
text-align: center;
border-radius: 10px;
color: #fff;

}
.form-left h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.form-left p{
    font-size: 1.2rem;
    opacity: 0.8;
}
.form-right{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  #001f3d;
}
.form-right h2{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.form-right form{
    display: flex;
    flex-direction: column;
}
.form-right input{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #001f3d;
    border-radius: 5px;
   

}
.form-right #first-name , #last-name , #Email , #Password{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #001f3d;
    border-radius: 5px;
    width: 300px;

}

.checkbox-container{
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #001f3d;
}
.checkbox-container label{
    margin:0px 5px;
    font-size: 0.9rem;
}
button{
    padding: 12px;
    margin: 10px 3px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #001f3d;
    color: #fff;
    font-weight: bold;
}
.alternatives{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}
.alternatives button{
    border: none;
    align-items: center;
    background-color:transparent;
    color:#001f3d;
    margin: 5px 0px;
    font-size: 16px;
}